h1, h2, h3, h4, h5, h6, p{
    font-family: 'Montserrat', sans-serif;
}

body {
 background-image: linear-gradient(black, #F0950C);
 background-size: cover;
 background-repeat: no-repeat;
 height: 100%;
}

.wifiPortal{
    align-items: center;
    align-content: center;
    text-align: center;
    background-image: url(/images/Jumbotron\ img1.png) !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.wifiPortal h1{
    padding-top: 20px;
    color: white;
}

.wifiCards{
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.card{
    background-color: #1E1E1E !important;
    color: white;
    height: 600px;
    width: fit-content;
}

.wifiContent{
    padding: 25px;
}

.wifiFooter{
    height: 500px;
    width: 100%;
    padding: 45px;
    margin-top: 40px;
    justify-content: center;
    align-content: center;
}

.footerImgs{
    width: 100%;
    justify-content: space-between;
    text-align: right;
}

.footerContent{
    text-align: center;
}